<!-- templates/coin.html -->

{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">{{ coin.metadata_name }} ({{ coin.metadata_symbol }})</h1>
    <div class="row">
        <div class="col-md-4">
            {% if coin.metadata_image_official %}
                <img src="{{ coin.metadata_image_official }}" class="img-fluid" alt="{{ coin.metadata_name }}">
            {% else %}
                <img src="https://via.placeholder.com/150" class="img-fluid" alt="No Image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Mint Address:</strong> {{ coin.mint }}</li>
                <li class="list-group-item"><strong>PumpFun URL:</strong> <a href="{{ coin.pumpfun_url }}" target="_blank">{{ coin.pumpfun_url }}</a></li>
                <li class="list-group-item"><strong>Description:</strong> {{ coin.metadata_description }}</li>
            </ul>
            <a href="{{ url_for('bundle_detail', bundle_id=coin.bundle_id) }}" class="btn btn-secondary mt-3">Back to Bundle</a>
        </div>
    </div>
{% endblock %}
